<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}
{% if symbols %}
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>ID#</th>
      <th>Type</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for symbol in symbols %}
    <tr>
      <td>
        <label>
          <input type="checkbox">
        </label>
        {{symbol.id}}
      </td>
      <td>{{symbol.type}}</td>
      <td>{{symbol.name}}</td>
      <td>
        {% include 'symbol/symbol_actions.html' %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
There are no symbols in this database! You can add a new symbol <a href={{url_for('new_symbol')}}>here.</a>
{% endif %}
{% endblock %}
