<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}
{% if documents %}
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>ID#</th>
      <th>Document Title</th>
      <th>Document Path</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for document in documents %}
    <tr>
      <td>
        <label>
          <input type="checkbox">
        </label>
        {{document.id}}
      </td>
      <td>{{document.title}}</td>
      <td><a href="{{document.path}}">{{document.path}}</a></td>
      <td>
        {% include 'document/document_actions.html' %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
There are no documents in this database! You can add a new document <a href={{url_for('new_document')}}>here.</a>
{% endif %}
{% endblock %}
