<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="btn-group pull-right">
      <a class="btn btn-default btn-xs" href={{url_for('new_symbol', id=part.id)}}>
        <i class="fa fa-plus" title="Add"> Add</i>
      </a>
    </div>
    <h3 class="panel-title">Symbols</h3>
  </div>
  <div class="panel-body">
    {% if part.symbols.all() | count %}
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>Type</th>
          <th>Name</th>
          <th><div class="pull-right">Actions</div></th>
        </tr>
      </thead>
      <tbody>
        {% for symbol in part.symbols %}
        <tr>
          <td>{{symbol.type}}</td>
          <td>{{symbol.name}}</td>
          <td>
            <div class="pull-right">

              {% include 'symbol/symbol_actions.html' %}
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    Nothing here yet...
    {% endif %}
  </div>
</div>
