<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
{% include 'flash.html' %}
{% if parts %}
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>ID#</th>
      <th>Type</th>
      <th>Manufacturer</th>
      <th>Manufacturer PN</th>
      <th>Created</th>
      <th>Last Modified</th>
      <th>Author</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for part in parts %}
    <tr>
      <td>
        <label>
          <input type="checkbox">
        </label>
        {{part.id}}
      </td>
      <td>{{part.type}}</td>
      {% if part.manufacturer %}
      <td>{{part.manufacturer}}</td>
      {% else %}
      <td><div class="text-muted">Unknown</div></td>
      {% endif %}
      {% if part.manufacturer_pn %}
      <td>{{part.manufacturer_pn}}</td>
      {% else %}
      <td><div class="text-muted">Unknown</div></td>
      {% endif %}
      {% if part.created %}
      <td>{{part.created | friendly_time}}</td>
      {% else %}
      <td><div class="text-muted">Unknown</div></td>
      {% endif %}
      {% if part.last_modified %}
      <td>{{part.last_modified | friendly_time}}</td>
      {% else %}
      <td><div class="text-muted">Unknown</div></td>
      {% endif %}
      {% if part.author %}
      <td>
        <a href={{url_for('user', username=part.author.name)}}>
          {{part.author.real_name}}
        </a>
      </td>
      {% else %}
      <td><div class="text-muted">Unknown</div></td>
      {% endif %}
      <td>
        {% include 'part/part_actions.html' %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
There are no parts in this database! You can add a new part <a href={{url_for('new_part')}}>here.</a>
{% endif %}
{% endblock %}
