<!-- extend base layout -->

{% block content %}
<table class="table table-striped table-hover ">
  <thead>
  </thead>
  <tbody>
    <tr>
      <td>ID#</td>
      <td>{{part.id}}</td>
    </tr>
    <tr>
      <td>Type</td>
      <td>{{part.type}}</td>
    </tr>
    <tr>
      <td>Created By</td>
      <td>
        <a href={{url_for('user', username=part.author.name)}}>
          {{part.author.real_name}}
        </a>
      </td>
    </tr>
    <tr>
      <td>Created</td>
      {% if part.created %}
      <td>{{part.created | friendly_time}}</td>
      {% else %}
      <td>Unknown</td>
      {% endif %}
    </tr>
    <tr>
      <td>Last Modified</td>
      {% if part.last_modified %}
      <td>{{part.last_modified | friendly_time}}</td>
      {% else %}
      <td>Unknown</td>
      {% endif %}
    </tr>
    <tr>
      <td>Manufacturer</td>
      {% if part.manufacturer %}
      <td>{{part.manufacturer}}</td>
      {% else %}
      <td>Unknown</td>
      {% endif %}
    </tr>
    <tr>
      <td>Manufacturer PN</td>
      {% if part.manufacturer_pn %}
      <td>{{part.manufacturer_pn}}</td>
      {% else %}
      <td>Unknown</td>
      {% endif %}
    </tr>
    {% block properties %}{% endblock %}
  </tbody>
</table>
{% endblock %}
