<div class="panel panel-default" id=comment{{comment.id}}>
  <div class="panel-heading">
    <a href={{url_for('user', username=comment.author.name)}}>{{comment.author.real_name}}</a>
    <a class="headerlink" href="#comment{{comment.id}}" title="Permalink to this comment">
      <span class"text-muted">  ({{comment.created | friendly_time}})</span>
    </a>
    <div class="pull-right">
      <a class="btn btn-default btn-xs" href="#">
      <i class="fa fa-pencil-square-o" title="Edit"> Edit</i>
    </a>
    <a class="btn btn-danger btn-xs" href="#">
      <i class="fa fa-trash-o" title="Delete"> Delete</i>
    </a>
    </div>
  </div>
  <div class="panel-body">
    {{comment.text | markdown}}
  </div>
</div>
