<form class="form-horizontal">
  <fieldset>
    <div class="form-group">
      <div class="col-lg-10">
        <legend>New Comment</legend>
      </div>
      <div class="col-lg-10">
        <textarea class="form-control" rows="3" id="textArea"></textarea>
        <span class="help-block">Comments will be parsed using <a href="https://help.github.com/articles/markdown-basics">Markdown</a>.</span>
      </div>
      <div class="col-lg-2">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
